<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <!-- Include this Home menu item for the home route-->
        <li>
            <a routerLinkActive="active" routerLink="">Home</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/payment/users">Users</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/payment/usermanage">New User</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/payment/employers">Employers</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/reporting/userreport">Reporting</a>
        </li>
        <li>
            <a href="http://localhost:50149/">Go To Core Application</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/register">Register User</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/recoverpassword">Recover Password</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/login">Log out</a>
        </li>
    </ul>
</nav>
  